# Data Science Tools and Ecosystem using H1 style heading.

In this notebook I am going to summarize the Data Science Tools and Ecosystem as an assignment. Later this notebook will be uploaded to GIT-HUB as public repository.

**Main Objectives of this notebook are** <br>
-To list different languages of data-science <br>
-To list different tools of data-science <br>
-To list some libraries used in data-science <br>
-To write arithmetic expressions

**Some of the popular languages that Data Scientists use are:** <br>
1-Python <br>
2-R  <br>
3-Julia <br>
4-SQL

**Some of the commonly used libraries used by Data Scientists include:** <br>
1-Pandas <br>
1-Numpy <br>
1-Matplotlib <br>
1-Keras <br>
1-Tensorflow

| Data Science Tools. |
| ------|
| R Studio |
| Jupyter NoteBook |
| Py-Charm |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
x=10;
y=10;
z=x+y;
print(z)

20

In [4]:
a=2.5;
b=2.5;
c=a+b;
print(c)

5.0

**In the cell bellow we will compute expression (3*4)+5**

In [8]:
# Bellow is the simple arithmatic expression having two operators and three operands. 
# BEcause precedence of multiplocation is high so first parenthesis will be evaluatd 
# then the result will be added to 5

(3*4)+5

17

In [10]:
# Following Exampel will convert 200 minuts into hours.
minuts=200;
hours=minuts/60;
print(hours);

3.3333333333333335